body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section {
    width: 100%;
    height: 100vh;
    background-image: url(image/site_0668_0067-1200-630-20151104115852.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background-color: aliceblue;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.3s linear;
}
nav ul li a:hover {
    background-color: white;
}
nav ul li ul {
    position: absolute;
    background-color: beige;
}
nav ul li ul li {
    display: block;
}
nav ul li ul li a {
    font-weight: normal;
    display: none;
}
nav ul li:hover ul li a {
    display: block
}